apiVersion: v1
kind: Secret
metadata:
  name: solace-secret
type: Opaque
stringData:
  credentials: |
    {
      "username": "admin",
      "password": "iwFw1pnhkM",
      "url": "http://example.com:8080"
    }